/* * {
    border: 1px red dashed;
} */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

.other-row {
    display: grid;
}

.other-row button {
    width: 30px;
    height: 30px;
}

div button {
    height: 50px;
    width: 50px;
    margin: 10px;
}

button.number {
    border: 1px solid green;
    border-radius: 10px;
}

button.operator {
    border: 1px solid blue;
    border-radius: 10px;
}

button.equal {
    border: 1px solid yellow;
    border-radius: 10px;
}

button.decimal {
    border: 1px solid black;
    border-radius: 10px;
}

button.clear {
    border: 1px solid black;
    border-radius: 10px;
}

#screen {
    width: 200px;
    height: 55px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

/* .previous {
    font-size: 20px;
} */

.current {
    font-size: 20px;
}

.first-row {
    display: flex;
    justify-content: center;
    align-items: center;
}